.container-input {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-list {
    background-color: #273c75;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}