* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #182c61;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
}
